

<html>
 

  <table BORDER=5 CELLPADDING=10 CELLSPACING=10 align="center"  >
      <tr>
          <td align="center" bgcolor="#CC0033">
              ENCUESTA SOBRE CORODA AUTOMATIC DOOR
          </td>
      </tr>
      <p></p>
            <div class="pregresp">
                <div class="pregunta" id="1">1. ¿Te gustaría guardar todos tus pedidos en alguna cuenta de la empresa?<br />
                </div>
                <p></p>
                <div class="respuestas" id="1">
                  <input type="radio" name="preg1" value="1" /> Totalmente en desacuerdo<br />
                  <input type="radio" name="preg1" value="2" /> En desacuerdo<br />
                  <input type="radio" name="preg1" value="3" /> Indiferente o Neutro<br />
                  <input type="radio" name="preg1" value="4" /> De Acuerdo<br />
                  <input type="radio" name="preg1" value="5" /> Totalmente de acuerdo<br />
                  
                </div>
              </div>
              <p>
              
            <div class="pregresp">
                <div class="pregunta" id="2">2. ¿Te gustan los beneficios que te brinda la cuenta de la empresa?<br />
                </div>
                <p></p>
                <div class="respuestas" id="2">
                  <input type="radio" name="preg2" value="1" /> Totalmente en desacuerdo<br />
                  <input type="radio" name="preg2" value="2" /> En desacuerdo<br />
                  <input type="radio" name="preg2" value="3" /> Indiferente o Neutro<br />
                  <input type="radio" name="preg2" value="4" /> De Acuerdo<br />
                  <input type="radio" name="preg2" value="5" /> Totalmente de acuerdo<br />
                </div>
              </div>
 
              <p>
            <div class="pregresp">
                <div class="pregunta" id="3">3. ¿Crees que son adecuadas las características del producto que brinda la página?<br />
                </div>
                <p></p>
                <div class="respuestas" id="3">
                  <input type="radio" name="preg3" value="1" /> Totalmente en desacuerdo<br />
                  <input type="radio" name="preg3" value="2" /> En desacuerdo<br />
                  <input type="radio" name="preg3" value="3" /> Indiferente o Neutro<br />
                  <input type="radio" name="preg3" value="4" /> De Acuerdo<br />
                  <input type="radio" name="preg3" value="5" /> Totalmente de acuerdo<br />
                </div>
              </div>
              <p>
            <div class="pregresp">
                <div class="pregunta" id="4">4.¿Los productos ofertados en la página son los mismos que la empresa entrega?<br />
                </div>
                <p></p>
                <div class="respuestas" id="4">
                  <input type="radio" name="preg4" value="1" /> Totalmente en desacuerdo<br />
                  <input type="radio" name="preg4" value="2" /> En desacuerdo<br />
                  <input type="radio" name="preg4" value="3" /> Indiferente o Neutro<br />
                  <input type="radio" name="preg4" value="4" /> De Acuerdo<br />
                  <input type="radio" name="preg4" value="5" /> Totalmente de acuerdo<br />
                </div>
              </div>
              <p>
            <div class="pregresp">
                <div class="pregunta" id="5">5. ¿Estás de acuerdo con la forma como realizan las cotizaciones?<br />
                </div>
                <p></p>
                <div class="respuestas" id="5">
                  <input type="radio" name="preg5" value="1" /> Totalmente en desacuerdo<br />
                  <input type="radio" name="preg5" value="2" /> En desacuerdo<br />
                  <input type="radio" name="preg5" value="3" /> Indiferente o Neutro<br />
                  <input type="radio" name="preg5" value="4" /> De Acuerdo<br />
                  <input type="radio" name="preg5" value="5" /> Totalmente de acuerdo<br />
                </div>
              </div>
              <p>
            <div class="pregresp">
                <div class="pregunta" id="6">6.¿Las cotizaciones están siendo elaboradas acorde a tus requerimientos?<br />
                </div>
                <p></p>
                <div class="respuestas" id="6">
                  <input type="radio" name="preg6" value="1" /> Totalmente en desacuerdo<br />
                  <input type="radio" name="preg6" value="2" /> En desacuerdo<br />
                  <input type="radio" name="preg6" value="3" /> Indiferente o Neutro<br />
                  <input type="radio" name="preg6" value="4" /> De Acuerdo<br />
                  <input type="radio" name="preg6" value="5" /> Totalmente de acuerdo<br />
                </div>
              </div>
              <p>
            <div class="pregresp">
                <div class="pregunta" id="7">7. ¿Te parece adecuado el tiempo que se toman en responder tus pedidos?<br />
                </div>
                <p></p>
                <div class="respuestas" id="7">
                  <input type="radio" name="preg7" value="1" /> Totalmente en desacuerdo<br />
                  <input type="radio" name="preg7" value="2" /> En desacuerdo<br />
                  <input type="radio" name="preg7" value="3" /> Indiferente o Neutro<br />
                  <input type="radio" name="preg7" value="4" /> De Acuerdo<br />
                  <input type="radio" name="preg7" value="5" /> Totalmente de acuerdo<br />
                </div>
              </div>
              <p>
            <div class="pregresp">
                <div class="pregunta" id="8">8. ¿Encuentras la información necesaria en un tiempo óptimo?<br />
                </div>
                <p></p>
                <div class="respuestas" id="8">
                  <input type="radio" name="preg8" value="1" /> Totalmente en desacuerdo<br />
                  <input type="radio" name="preg8" value="2" /> En desacuerdo<br />
                  <input type="radio" name="preg8" value="3" /> Indiferente o Neutro<br />
                  <input type="radio" name="preg8" value="4" /> De Acuerdo<br />
                  <input type="radio" name="preg8" value="5" /> Totalmente de acuerdo<br />
                </div>
              </div>
              <p>
            <div class="pregresp">
                <div class="pregunta" id="9">9. ¿Le gusta la atención brindada por la empresa?<br />
                </div>
                <p></p>
                <div class="respuestas" id="9">
                  <input type="radio" name="preg9" value="1" /> Totalmente en desacuerdo<br />
                  <input type="radio" name="preg9" value="2" /> En desacuerdo<br />
                  <input type="radio" name="preg9" value="3" /> Indiferente o Neutro<br />
                  <input type="radio" name="preg9" value="4" /> De Acuerdo<br />
                  <input type="radio" name="preg9" value="5" /> Totalmente de acuerdo<br />
                </div>
              </div>
              <p>
            <div class="pregresp">
                <div class="pregunta" id="10">10. ¿Recomendarías a la empresa por su calidad de servicio?<br />
                </div>
                <p></p>
                <div class="respuestas" id="10">
                  <input type="radio" name="preg10" value="1" /> Totalmente en desacuerdo<br />
                  <input type="radio" name="preg10" value="2" /> En desacuerdo<br />
                  <input type="radio" name="preg10" value="3" /> Indiferente o Neutro<br />
                  <input type="radio" name="preg10" value="4" /> De Acuerdo<br />
                  <input type="radio" name="preg10" value="5" /> Totalmente de acuerdo<br />
                </div>
              </div>
              <p>
            <div class="pregresp">
                <div class="pregunta" id="11">
                    11. ¿Considera a Coroda Automatic Door SAC como una empresa líder dentro del mercado?
                    <br />
                </div>
                <p></p>
                <div class="respuestas" id="11">
                  <input type="radio" name="preg11" value="1" /> Totalmente en desacuerdo<br />
                  <input type="radio" name="preg11" value="2" /> En desacuerdo<br />
                  <input type="radio" name="preg11" value="3" /> Indiferente o Neutro<br />
                  <input type="radio" name="preg11" value="4" /> De Acuerdo<br />
                  <input type="radio" name="preg11" value="5" /> Totalmente de acuerdo<br />>
                </div>
              </div>
              <p>
            <div class="pregresp">
                <div class="pregunta" id="12">12. ¿Consideras que la empresa posee un crecimiento ascendente?<br />
                </div>
                <p></p>
                <div class="respuestas" id="12">
                  <input type="radio" name="preg12" value="1" /> Totalmente en desacuerdo<br />
                  <input type="radio" name="preg12" value="2" /> En desacuerdo<br />
                  <input type="radio" name="preg12" value="3" /> Indiferente o Neutro<br />
                  <input type="radio" name="preg12" value="4" /> De Acuerdo<br />
                  <input type="radio" name="preg12" value="5" /> Totalmente de acuerdo<br />
                </div>
              </div>            
            <p></p>
              <button  class="btn btn-dark" >
                Enviar Respuestas
              </button>
  </table>
  
</html>
  

  

  

  

  

  

  

  

  