<div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/assets/images/logo.png" alt="" width="200" height="200">
    <h2>Coroda Automatic Door</h2>
    <p class="lead">
        Somos una empresa peruana  que brindamos servicios de de venta en instalaciones de motores  , electrónicos y automáticos  para todo tipo de puertas  de garajes (  seccionales , levadizas ,contrapesos  , corredizas  y batientes ) esta empresa nace con la finalidad de contribuir  con el desarrollo y crecimiento acelerado del mercado peruano .
        Brindando a nuestros  clientes  servicios como  instalación , mantenimientos  ,preventivos  y reparaciones  tales como  la colocación  y puesto en funcionamiento  de un sistema de aperturas  y cierre de puertas  de acceso  ya sea en el componente manual  automatización  con sierre de puertas automáticas  ,todo a control remoto 
        
    
        Nuestro equipo técnico altamente capacitado, tiene la experiencia necesarias para satisfacer las necesidades de nuestros clientres,estamos comprometidos con nuestro trabajo , y ofrecemos un servicio de calidad que garantice su satisfacción. Nos caracterizamos por brindar un servicio completo y de calidad hacia nuestros clientes, ganándonos así un lugar dentro del mercado.

Valor  

Coroda automatic door  
Ofrecemos un servicio superior , aun alto nivel   del cono miento en el mercado , con precios accesibles  con el fin de proporcionale un valor superior  de nuestra competencia 

Ahora tiempo   

  Tenemos la experiencia y los conocimientos necesarios  para garantizar  que sus puertas de garajes   funciones correctamente sin problemas ,  brindándolos un servicio excelente .

Nuestra misión 


    </div>